/* general styling*/
h1,h2,h3,h4, a{color: #4a306d}
a{text-decoration: none;}
.dark-bg
{
	background-color: #0e273c
}
.center
{
	text-align: center;
}
input[type="text"],input[type="email"],input[type="password"]
{
	width:80%;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	border-style: solid;
	border-color:#4a306d;
	border-width:2px;
	color:#000;
}
.btn-main
{
	width: auto;
	height: 60px;
	background-color: #4a306d;
	color: #fff;
	padding:15px;
}
#active-links
{
	color: #a167a5;
}
.container
{
	width:90%;
	margin:auto;
}
/*login panel*/
.login-box
{
	width:50%;
	margin: auto;
	height: 440px;
	background-color: #fff;
	position: relative;
	top:60px;
}
.login-box img
{
	width:120px;
	height: 120px;
	padding-top: 10px;
}
.login-box input[type="email"],.login-box input[type="password"]
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.login-box input[type="email"]::placeholder,.login-box input[type="password"]::placeholder
{
	color:#0e273c;
	padding-left: 10px;
}
.login-box button
{
	margin-top: 10px;
}


/* navigation*/
.nav
{
	width: 100%;
	background-color: #0e273c;
	height:41px;
}
.nav ul>li
{
	display: inline;
	color: #e8d7f1;
	height: 40px;
	position: relative;
	top:12px;
}
.nav a
{
	color: #e8d7f1;
	padding:12px;
}
.nav a:hover
{
	color: #e8d7f1;
	background-color: #a167a5;
}
.active-nav
{
	color: #e8d7f1;
	background-color: #a167a5;
	padding:10px;
}
#logo
{
	margin-right: 60px;
}